<ion-view>
    <ion-nav-title class="title">{{ 'TEMPERATURE' | translate }} </ion-nav-title>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon ion ion-information"></button>
    </ion-nav-buttons>
    <ion-content class="temperature">
        <div class="main">
            <div class="wrapper">
                <div class="center2D">
                    <div class="thermometer">
                        <img src="img/thermometer-white.png" width="150" />
                        <div class="digits">
                            <span>{{ temperatureCtrl.temperature }}</span>
                            <span class="unit"> ํc</span>
                        </div>
                    </div>
                    <div class="location">
                        <div>
                            <i>Lat : </i>
                            <span>{{ temperatureCtrl.location.lat.toFixed(6) }}</span>
                        </div>
                        <div>
                            <i>Lon : </i>
                            <span>{{ temperatureCtrl.location.lon.toFixed(6) }}</span>
                        </div>
                    </div>

                    <div class="btn-update">
                        <button type="button" ng-click="temperatureCtrl.updateCurrentLocation()">UPDATE</button>
                        <div class="last-update">Last update: 01-04-2019 10.22 pm</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
